<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emp.mapper.EmpMapper">
	<resultMap id="EmpResultMap" type="Emp">
		<id property="id" column="emp_id" />
		<result property="firstName" column="first_name" />
		<result property="lastName" column="last_name" />
		<result property="gender" column="gender" />
		<result property="birthDate" column="birth_date" />
		<result property="hireDate" column="hire_date" />
		<result property="version" column="version" />
	</resultMap>

	<select id="findAll" resultMap="EmpResultMap">
		SELECT * FROM employee
	</select>


	<select id="findById" resultMap="EmpResultMap" parameterType="java.lang.Integer">
		SELECT * FROM employee where emp_id = #{id}
	</select>

	<select id="findNextSeq" resultType="java.lang.Integer">
		SELECT employee_seq.nextval FROM dual
	</select>


	<select id="findByQuery"  resultMap="EmpResultMap" parameterType="EmpQuery">
		SELECT * FROM employee where 1 = 1 
		<if test="id != null">
    		AND emp_id = #{id}
 	 </if>
  		<if test="firstName != null">
    		AND first_name like #{firstName}
  		</if>
  		<if test="lastName != null">
    		AND last_name like #{lastName}
  		</if>
	</select>


	<insert id="save" parameterType="Emp">
		insert into employee(emp_id,first_name,last_name,gender,birth_date,hire_date)
		values
		(#{id},#{firstName},#{lastName},#{gender},#{birthDate},#{hireDate})
	</insert>
	
	<update id="update" parameterType="Emp"  >
		update employee set first_name = #{firstName} ,
							last_name = #{lastName},
							gender = #{gender} ,
							birth_date = #{birthDate},
							hire_date  = #{hireDate} ,
							version = version + 1
							where 
							emp_id = #{id} and
							version = #{version}
	
	</update>
	
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from employee where emp_id = #{id}			
	
	</delete>
</mapper>


