<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emp.mapper.UsersMapper">
	<resultMap id="UsersResultMap" type="Users">
		<id property="usersId" column="users_id" />
		<result property="name" column="name" />
		<result property="role" column="role" />

	</resultMap>




	<select id="findAll" resultMap="UsersResultMap">
	    <!-- if you use * to get all fields then password will also be retrieved because the field name matches both in the model and sql table !! -->
		SELECT users_id,name,role FROM users
	</select>
	<select id="findById" resultMap="UsersResultMap" parameterType="java.lang.Integer">
		SELECT * FROM users where users_id = #{id}
	</select>


	<select id="findNextSeq" resultType="java.lang.Integer">
		SELECT users_seq.nextval
		FROM dual
	</select>


	<select id="findByQuery" resultMap="UsersResultMap"
		parameterType="UsersQuery">
		SELECT users_id,name,role FROM users where 1 = 1
		<if test="usersId != null">
			AND users_id = #{usersId}
		</if>
		<if test="name != null">
			AND name like #{name}
		</if>
		<if test="role != null">
			AND role like #{role}
		</if>
	</select>
	<select id="findByName" resultMap="UsersResultMap">
		SELECT * FROM users where name = #{name}
	</select>

	<insert id="save" parameterType="Users">
		insert into
		users(users_id,name,role,password)
		values
		(#{usersId},#{name},#{role},#{password})
	</insert>

	<update id="update" parameterType="Users">
		update users set name =
		#{name} ,
		role = #{role},
		password = #{password}
		where users_id = #{usersId}

	</update>




</mapper>


